# Python virtual environment
/bin
/include
/lib
.Python
pip-selfcheck.json

# Stanford CoreNLP
/stanford-corenlp-full-2017-06-09

# PythonNLPCore example output
__pycache__
input.txt
input.txt.xml
props.properties
